<nav style="margin-top:20px">
  <div class="nav nav-tabs nav-pills" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Report</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div style="margin-top:20px">
      <button class="btn btn-success" onclick="myFunction()">Reload page</button> 
      <button class="btn btn-info" id="button">Download XLSX</button>  
      <br>
      <br>
      <div>
        <table class="table" id="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">CLIENT ID</th>
              <th scope="col">DEVICE ID</th>
              <th scope="col">TOTALIZED WEIGHT</th>
              <th scope="col">SPEED</th>
              <th scope="col">FLOW RATE</th>
              <th scope="col">Date</th>
              <th scope="col">Time Stamp</th>
            </tr>
          </thead>
          {{#each records}}
          <tbody>
            <tr>
              <td>{{inc @index inc=1}}</td>
              <td>{{clientId}}</td>
              <td>{{deviceId}}</td>
              <td>{{totalizedWeight}}</td>
              <td>{{speed}}</td>
              <td>{{flowRate}}</td>
              <td>{{date}}</td>
              <td>{{timestamp}}</td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
    <span>REPORT</span>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
<script>
function myFunction() {
    location.reload();
}
$(function(){
  var ExportButtons = document.getElementById('table');
  var instance = new TableExport(ExportButtons, {
    formats: ['xlsx'],
    exportButtons: false,
    filename: 'Records'
  });
  var exportData = instance.getExportData()['table']['xlsx'];
  var XLSbutton = document.getElementById('button');
  XLSbutton.addEventListener('click', function (e) {
    //                   // data          // mime              // name              // extension
    instance.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
  });

});
</script>